body{
    font-family: 'Roboto';
    color: #3E3E3E;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 142px;

}
  
li {
    float: right;
}
  
li a {
    display: block;
    padding: 8px;
    background-color: white;
    text-decoration: none;
    color: #3C3C3C;
    padding-left: 38px;

}
section{
    padding:20px;
}
.half-width{
    width: 35%;
    float: left;
    padding: 5%;
    margin-left: 50px;
}
.half-width img{
    width: 100%;
}
.header{
    font-family: 'Bebas Neue';
    font-weight: normal;  
    color: #363958;
}
#first-header, #name{
    font-size: 80px;
    line-height: 80px;
}
#name{
    color: #FF8367;
}
#intro-text{
    margin-top: -40px;
    margin-bottom: 50px;
}
#about-header, #latest-project-header{
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.button{
    padding: 18px 54px;
    color:white;
    text-decoration: none;
    font-size: 16px;
    background-image: linear-gradient(360deg, #FF8063,#F46060);
    border-radius: 6px;
    text-align: center;
}
#button-download-cv{
    padding: 18px 25px;
}
#download{
    width: 15px;
    padding-right: 10px;
    padding-top: 5px;
}
#latest-works{
    width: 100%;
    height: 800px;
    background-color:  #F8F9FC;
    float: left;
    
}
#latest-project-header{
    padding-top: 30px;
    text-align: center;
}
#word-latest{
    color:#F46060;
}
#work-section{
    margin-left: 20px;
}
.third-width{
    width: 370px;
    height: 374px;
    float: left;
    padding: 17px;
    margin-left: 15px;
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
}

.third-width img{
    width: 100%;
   
}
.third-width div{
    padding-left:20px;
    margin-top: -20px;
}
.third-width h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
    margin-bottom: -5px;
}
.third-width p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
#testimonials{
    float:left;
    padding: 20px 150px;
    background-color: #f1f1f1;
    height:450px;
}
#testimonials h6{
    font-size: 17px;
}
#testimonials h2{
    padding-left:30px;
    font-size: 30px;
    margin-top:-20px;
    margin-left: -40px;
    margin-bottom: 40px;
}

.full-width{
    background-color:  #F8F9FC;
    padding:40px 72.5px;
    width: 950px;
    border: wheat;
    float: left;
    box-shadow: 3px 3px 20px rgb(189, 188, 188);
    background-image: url("icons/Quote\ Right_50px.png");
    background-repeat: no-repeat;
    background-position: 900px;
    border-image: linear-gradient(0deg, #FF8063,#F46060);
    border-left: 4px solid ;
    border-image-slice: 1;
}
.full-width p{
    font-size: 15px;
    font-weight: 500;
}
.client-headers img{
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
}

.client-headers h4{
    font-size: 20px;
    margin-top: 20px;
}
.client-headers h6{
    margin-top:-25px;
    font-size: 10px;
}

.work-inquiry-section{
    width: 100%;
    height: 600px;
    float:left;
    padding-top: 20px;
    padding-right: 0;
}
#work-inquiry{
    background-image: url("shapes/Group_33094_1.png");
    height: 60%;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    margin-left: 267px;
}

#work-inquiry p{
    font-family: 'Bebas Neue';
    font-size: 64px;
    line-height: 64px;
    color: white;
    float: left;
    padding-top: 90px;
    padding-left: 70px;
}
#work-inquiry a{
    margin-left: 600px;
    margin-top: -130px;
    float: left;
    padding: 18px 32px;
}
#footer{
    float: left;
    margin-top: -30px;
}

#footer h6{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #696871;
    padding-left:  615px;
}

#footer h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #363958;
    padding-left:  520px;
    margin-top: -40px;
}
#footer-img{    
    padding-left:  550px;
    margin-top: -20px;
}
#footer-img img{
    width:10%;
    padding-left: 30px;
}